<%
var user_id = user._id;
var avaliable_times = JSON.stringify(times);
var statuses = JSON.stringify(stats);
var avaliable_types = JSON.stringify(types);
%>

<!DOCTYPE html>
<html>

<head>
    <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
                <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
              <% if(admin && admin == true) { %>
                <% include ../templates/admin_nav.ejs %>
              <% }  %>
              <% include ../templates/nav.ejs %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Dashboard </h1>
                        <p class="nav-top-bar-para">Welcome to the Admin of Oldfield's Parents Evening Application</p>
                    </div>
                </div>
            </div>
            <div class="main-content-area" id="admin">
                <div class="container-fluid">
                    <div id="main-content-header-appointments" class="main-content-area-header" style="margin-bottom:0">
                      <div class="row">
                        <div class="col-md-8">
                          <h1 class="main-content-area-header-heading">Appointments </h1>
                          <p class="main-content-area-header-para">View all appointments...</p>
                        </div>
                        <div class="col-md-4" id="buttons" style="margin-top:15px;text-align:right;
                        display:block;margin-left:auto;" >
                          <button class="btn btn-primary" type="button" onclick="view()">View</button>
                            <button class="btn btn-warning" type="button" onclick="edit()">Edit</button>
                            <button class="btn btn-danger" type="button" onclick="delete_app()">Delete</button>
                        </div>
                      </div>
                    </div>
                    <div id="main-content-area-admin-dashboard">
                        <div class="main-content-area-inside">
                          <table id="dashboard_table_data" class="table table-inverse" border="1">
                            <thead>
                              <tr>
                                <th><input type="checkbox" class="checkAll" name="checkAll" /></th>
                                <th>Parent</th>
                                <th>Teacher</th>
                                <th>Student</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody id="dashboard_table">
                              <% if(appointments.length) { %>
                                <% for(var i = 0; i < appointments.length; i++) {
                                  var appointment = appointments[i];
                                  var status = getStatus(appointment.status);
                                  %>
                                  <tr role="row">
                                    <td><input class="checkbox" type="checkbox" value="<%= appointment._id %>" name="check" /></td>
                                    <td class="parent_name" style="width:25%"><%= appointment.parent_id %></td>
                                    <td class="teacher_name"><%= appointment.teacher_id %></td>
                                    <td class="student_name"><%= appointment.student_id %></td>
                                    <td><%= appointment.time %></td>
                                    <td><%= appointment.date %></td>
                                    <td class="<%= status.class %>" style="width:auto;"><%= status.name %></td>
                                  </tr>
                                <%}%>
                              <%}%>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <input id="t_data_store" type="hidden">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <% include ../templates/admin_modals/api.ejs %>
    <% include ../templates/admin_modals/dashboard.ejs %>
</body>

</html>
