<script type="text/javascript">

var profile = JSON.parse('<%- profile_data %>');
getData(getUrl() + '/api/get_group_by_uuid/' + profile._id, function(group) {
  if(!group.response) {
    $('.profile-avatar-title').text(group.group_name);
  }
});

/*getData(getUrl() + '/api/get_student_data/' + appointment_data.student_id, function(callback) {

});*/
</script>
