<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
<script src="/js/datatables.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript">var account_uuid = '<%= user_id %>';</script>
<script type="text/javascript" src="/js/admin_api.js"></script>
